.p4 {
  margin-top: -8%;
}

.container2 {
  position: absolute;
  left: 51%;
  top: 85%;
  transform: translate(-50%, -50%);
}

.container2 button {
  width: 350px;
  padding: 30px 0;
  border: 5px groove #03ecef;
  border-radius: 100px;
  background: linear-gradient(145deg, #1e1e1e, #232323);
  box-shadow: 0 30px 47px #0d0d0d, 0 30px 47px #353535;
  color: #fafafa;
  transition: all 0.3s ease-out;
  font-size: 20px;
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  letter-spacing: 6px;
  text-align: center;
}
.container2 button:active {
  color: yellow;
  border-radius: 50px;
  background: linear-gradient(145deg, #232323, #1e1e1e);
  -webkit-box-shadow: 0px 0px 10px 5px #2205ff;
  box-shadow: 0px 0px 10px 5px #2205ff;
}

.shape {
  position: relative;
  width: 600px;
  height: 400px;
  margin: 50px auto;
}

.cat {
  position: absolute;
  margin: 0 -9px;
}
.cara {
  position: absolute;
  width: 172px;
  height: 162px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background: gray;
  border: 3px solid #777;
  margin: 125px 231px;
  -webkit-animation: sube 3s alternate infinite;
  animation: sube 3s alternate infinite;
}
.ojos {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: black;
  margin: 70px 21px;
  -webkit-animation: cerrar 3s alternate infinite;
  animation: cerrar 3s alternate infinite;
}
.ojos3 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: black;
  margin: 70px 102px;
  -webkit-animation: cerrar 3s alternate infinite;
  animation: cerrar 3s alternate infinite;
}
.iris {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: white;
  margin: 12px 12px;
  -webkit-animation: shake 0.09s alternate infinite;
  animation: shake 0.09s alternate infinite;
}
.iris3 {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: white;
  margin: 12px 25px;
  -webkit-animation: shake 0.09s alternate infinite;
  animation: shake 0.09s alternate infinite;
}
.ceja {
  position: absolute;
  width: 60px;
  height: 35px;
  border-radius: 100%;
  background: gray;
  margin: 43px 7px;
  transform: rotate(-33deg);
}
.ceja3 {
  position: absolute;
  width: 60px;
  height: 35px;
  border-radius: 100%;
  background: gray;
  margin: 43px 98px;
  transform: rotate(33deg);
}
.boca {
  position: absolute;
  width: 30px;
  height: 21px;
  border-radius: 100%;
  background: #333;
  margin: 121px 72px;
  -webkit-animation: baja 3s alternate infinite;
  animation: baja 3s alternate infinite;
}
.hocico {
  position: absolute;
  height: 0;
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  border-bottom: 21px solid #121212;
  border-radius: 100px / 50px;
  margin: 112px 65px;
  -webkit-animation: sube 3s alternate infinite;
  animation: sube 3s alternate infinite;
}
.hocico3 {
  position: absolute;
  width: 35px;
  height: 30px;
  border-radius: 100%;
  border-right: 3px solid black;
  background: #94948c;
  margin: 123px 50px;
  -webkit-animation: sube 3s alternate infinite;
  animation: sube 3s alternate infinite;
}
.hocico3::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 30px;
  border-radius: 100%;
  border-left: 3px solid black;
  background: #94948c;
  margin: 0px 35px;
}

.orejas {
  position: absolute;
  width: 70px;
  height: 90px;
  border-radius: 500px 50px 500px 50px;
  background: #94948c;
  border: 6px solid gray;
  margin: 95px 201px;
  transform: rotate(-45deg);
  -webkit-animation: sube3 3s alternate infinite;
  animation: sube3 3s alternate infinite;
}

.orejas3 {
  position: absolute;
  width: 70px;
  height: 90px;
  border-radius: 50px 500px 50px 500px;
  background: #94948c;
  border: 6px solid gray;
  margin: 95px 350px;
  transform: rotate(45deg);
  -webkit-animation: sube3 3s alternate infinite;
  animation: sube3 3s alternate infinite;
}

.body {
  position: absolute;
  width: 162px;
  height: 212px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background: gray;
  border: 3px solid #777;
  margin: 251px 231px;
}
.legs {
  position: absolute;
  width: 35px;
  height: 132px;
  border-radius: 21px;
  background: gray;
  border: 3px solid #777;
  margin: 90px 7px;
  transform: rotate(12deg);
}
.legs::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 132px;
  border-radius: 21px;
  background: gray;
  border: 3px solid #777;
  margin: -24px 102px;
  transform: rotate(-24deg);
}
.legs3 {
  position: absolute;
  width: 90px;
  height: 75px;
  border-radius: 70px 70px 0 0;
  background: gray;
  border: 3px solid #777;
  margin: 360px 212px;
}
.legs3::before {
  content: "";
  display: block;
  width: 121px;
  height: 30px;
  border-radius: 30px;
  background: gray;
  border-left: 3px solid #777;
  border-bottom: 3px solid #777;
  margin: 70px -21px;
}
.legs7 {
  position: absolute;
  width: 90px;
  height: 75px;
  border-radius: 70px 70px 0 0;
  background: gray;
  border: 3px solid #777;
  margin: 360px 321px;
}
.legs7::before {
  content: "";
  display: block;
  width: 121px;
  height: 30px;
  border-radius: 30px;
  background: gray;
  border-right: 3px solid #777;
  border-bottom: 3px solid #777;
  margin: 70px -21px;
}
.legs9 {
  position: absolute;
  width: 40px;
  height: 21px;
  border-radius: 12px;
  background: gray;
  border: 3px solid #777;
  margin: 112px -5px;
  transform: rotate(-12deg);
}
.legs9::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 21px;
  border-radius: 12px;
  background: gray;
  border: 3px solid #777;
  margin: 0px 132px;
}
.bigotitos {
  position: absolute;
  width: 90px;
  height: 30px;
  border-radius: 100%;
  border-bottom: 2px solid black;
  margin: 107px -12px;
  -webkit-animation: sube 3s alternate infinite;
  animation: sube 3s alternate infinite;
}
.bigotitos::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 21px;
  border-radius: 100%;
  border-bottom: 2px solid black;
  margin: 13px 7px;
  transform: rotate(-12deg);
}
.bigotitos::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 21px;
  border-radius: 100%;
  border-bottom: 2px solid black;
  margin: 18px 9px;

  transform: rotate(-21deg);
}
.bigotitos3 {
  position: absolute;
  width: 90px;
  height: 30px;
  border-radius: 100%;
  border-bottom: 2px solid black;
  margin: 107px 90px;

  -webkit-animation: sube 3s alternate infinite;

  animation: sube 3s alternate infinite;
}
.bigotitos3::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 21px;
  border-radius: 100%;
  border-bottom: 2px solid black;
  margin: 12px 12px;
  transform: rotate(12deg);
}
.bigotitos3::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 21px;
  border-radius: 100%;
  border-bottom: 2px solid black;
  margin: 16px 13px;
  transform: rotate(25deg);
}
.cola {
  position: absolute;
  width: 172px;
  height: 121px;
  border-radius: 100%;
  border-bottom: 35px solid gray;
  margin: 300px 360px;
  -webkit-animation: go 3s alternate infinite;
  animation: go 3s alternate infinite;
}
@-webkit-keyframes shake {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1);
  }
}
@keyframes shake {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1);
  }
}
@-webkit-keyframes sube {
  0% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(-7px);
  }
}
@keyframes sube {
  0% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(-7px);
  }
}
@-webkit-keyframes baja {
  0% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(9px);
  }
}
@keyframes baja {
  0% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(9px);
  }
}
@-webkit-keyframes go {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}
@keyframes go {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}
@-webkit-keyframes cerrar {
  0%,
  25% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cerrar {
  0%,
  25% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes sube3 {
  0% {
    margin-top: 95px;
  }
  100% {
    margin-top: 85px;
  }
}
@keyframes sube3 {
  0% {
    margin-top: 95px;
  }
  100% {
    margin-top: 85px;
  }
}
